flask
requests
joblib
numpy
pandas
scikit-learn
imblearn
nltk
# ast
# transformers 
# torch 
# stanza
# sentence-transformers 
# stanza 
# scikit-learn 


urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
